
<!DOCTYPE html>
<html>
<head>
  <title>hackdays</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>

  <main class="container">
    <div class="container flash-container">
    <% flash.each do |type, msg| %>
          <%= content_tag :div, class: "alert alert-#{type}" do %>
            <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
          <% end %>
        </div>
    <%= yield %>
  </main>

  <%= yield :end_of_body %>
</body>
</html>
